/* $Id$ */
#op-item-mngdir a {
  background-image: url(dirmanage.png);
}
#imce-content #edit-mkdir {
  background-image: url(diradd.png);
}
#imce-content #edit-rmdir {
  background-image: url(dirremove.png);
}